# Final Project Capstone : Comparing Cities - Introduction

I'm Saiid MANSOURI AZZOUZI, from Morocco, 26 years old, I was an Electromechanical engineer, but when I've heard about data science I decided to start a new career.    Actually I'm a data engineer, I do some ingestion and transformation but I'm aiming to become a data scientist. Because I see Data science as the art of making a usefull story from data.

## Introductory section

Comparing cities is a difficult task, and to answer the question what city is more similar to a specific one is harder:
which city is more similar to New York City , paris or Toronto or another city ? 
Both cities are very diverse and are the financial capitals of their respective countries.

First we need to define in what basis we would compare our cities :
One interesting idea would be to compare the neighborhoods of the two cities and determine how similar or dissimilar they are.

## Methodology section

First we will extract data from New York City , Toronto , Paris. cleaning them and organizing them as used in week 3.
Then we will use clustering on New York City, we will make the clustering fit the New York Cities Avenues.
and after we will use our model in Toronto and Paris to see which city look like New York.

My code will be in form of bloc so it can be reussable and the use of another cities will be easy.

## Data Introduction

### Library importation

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

### New York Data Well be imported from last project

In [47]:
new_york_neighborhoods=pd.read_csv('new_york.csv')
new_york_neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [48]:
print('New york has {} boroughs and {} neighborhoods.'.format(
        len(new_york_neighborhoods['Borough'].unique()),
        new_york_neighborhoods.shape[0]
    )
)

New york has 5 boroughs and 306 neighborhoods.

### Toronto Data Well be imported from last project

In [43]:
toronto_neighborhoods=pd.read_csv('toronto.csv')
toronto_neighborhoods.head()

,Postal_Code,Borough,Neighborhood,Latitude,Longitude
0,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
1,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494
2,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
3,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
4,M4E,East Toronto,The Beaches,43.676357,-79.293031

In [45]:
print('Toronto has {} boroughs and {} neighborhoods.'.format(
        len(toronto_neighborhoods['Borough'].unique()),
        toronto_neighborhoods.shape[0]
    )
)

Toronto has 4 boroughs and 39 neighborhoods.

### Paris data uploaded from https://www.data.gouv.fr/en/datasets/r/871c68bf-c92b-42a9-8dcc-910f9be0b870

In [41]:
with open('quartier_paris.json') as json_data:
    paris_data_prep = json.load(json_data)

In [35]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
paris_neighborhoods = pd.DataFrame(columns=column_names)

for el in paris_data_prep:
    paris_neighborhoods=paris_neighborhoods.append({
        'Borough':el['fields']['c_ar'],
        'Neighborhood':el['fields']['l_qu'],
        'Latitude':el['fields']['geom_x_y'][0],
        'Longitude':el['fields']['geom_x_y'][1]

    }, ignore_index=True)

In [42]:
paris_neighborhoods.head()

  Borough        Neighborhood   Latitude  Longitude
0       9        Rochechouart  48.879812   2.344861
1      12               Bercy  48.835209   2.386210
2       1              Halles  48.862289   2.344899
3       4             Arsenal  48.851585   2.364768
4       5  Jardin-des-Plantes  48.841940   2.356894

In [40]:
print('Paris has {} boroughs and {} neighborhoods.'.format(
        len(paris_neighborhoods['Borough'].unique()),
        paris_neighborhoods.shape[0]
    )
)

Paris has 20 boroughs and 80 neighborhoods.

the data used to solve this problem is geolocation data collected from FourSquare. Data is composed of 3 dataframes. Explanation of the location data is latitude and longitude. 
We  will make the clustering fit the New York Cities Avenues. and after we will use our model in Toronto and Paris to see which city look like New York.